* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #c3d9e4;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Lato', sans-serif;
}

.model,
.model2 {
    visibility: hidden;
    display: none !important;
}

.info {
    background-color: #fff;
    width: 75%;
    height: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 40px;
    transition: filter .5s ease-in;
}

.relatorios {
    height: 100%;
    width: 17%;
    background-color: #f1f6fa;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 20px;
    border-radius: 40px 0px 0px 40px;
}

.relatorios>span {
    font-size: 20pt;
    font-family: 'Lato', sans-serif;
    color: #165272;
    letter-spacing: 4px;
    font-weight: bold;
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.relatorios>span::before {
    position: absolute;
    content: "";
    height: 2px;
    width: 120%;
    background-color: #165272;
    top: 40px;
}

.re-img {
    color: #165272;
    font-size: 15pt;
    overflow: hidden;
    margin: 20px 0px 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 2;
    padding: 10px 20px;
    cursor: pointer;
    height: 60px;
}

.re-img::before {
    content: "";
    position: absolute;
    right: -100%;
    height: 100%;
    width: 100%;
    z-index: -1;
    transition: .2s ease-in-out;
    background-image: linear-gradient(to right, #ffffff00, #fdb18e91);
}

.re-img:hover::before {
    right: 0px;
    border-right: 5px solid #ff844b;
}

.efect::before {
    right: 0px;
    border-right: 5px solid #ff844b;
}

.re-img>img {
    width: 15%;
    height: 90%;
    object-fit: contain;
}

.informacoes {
    width: 83%;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content,
.content2,
.content3,
.content4,
.content5 {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.header {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 60px 0px 60px;
    font-size: 20pt;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 5px;
    font-weight: 700;
    border-bottom: 2px solid #165272;
}

.or {
    display: flex;
    justify-content: space-between;
    width: 35%;
    height: 90%;
}

.checkTipo,
.checkEm {
    font-size: 10pt;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 60%;
    height: 100%;
}

.checkTipo {
    padding-right: 20px;
    width: 35% !important;
    border-right: 2px solid black;
}

.div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.check {
    font-size: 15pt;
    letter-spacing: 2px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 70%;
}

.img {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 10pt;
    height: 100%;
    width: 30px;
    margin: 10px;
    position: relative;
    overflow: hidden;
    transition: .3s linear;
    cursor: pointer;
}


.img:hover {
    width: 150px;
}

.img:hover>span {
    right: 0;
}

.img>img {
    width: 30px;
    object-fit: contain;
}

.contens {
    height: 85%;
    width: 100%;
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grafico,
.grafico-manutencao,
.grafico-alocacao {
    height: 38%;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
}

.grafico {
    background-image: linear-gradient(to bottom, #f1f6fa00, #0395d886);
}

.grafico-manutencao {
    background-image: linear-gradient(to bottom, #f1f6fa00, #006a9b98);
}

.grafico-alocacao {
    background-image: linear-gradient(to bottom, #f1f6fa00, #0287c4b9);
}

.results,
.results2 {
    height: 62%;
    width: 100%;
    padding: 15px;
}

.veiculos,
.manutencoes,
.alocacoes,
.motoristas {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    padding: 10px;
}

.veiculo,
.manutencao,
.alocacao,
.motorista {
    height: 150px;
    width: 340px;
    border: 1px solid #000;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 0px 10px 10px 10px;
    align-items: center;
    justify-content: space-between;
    position: relative;
    box-shadow: 8px 8px 20px 0px rgb(126, 126, 126);
    cursor: pointer;
}

.veiculo>div,
.alocacao>div,
.manutencao>div,
.motorista>div {
    width: 100%;
    height: 85%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.veiculo>div>div,
.alocacao>div>div,
.manutencao>div>div,
.motorista>div>div {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 12pt;
    font-weight: bold;
}

.veiculo-img,
.motorista-img {
    width: 30%;
}

.veiculo-img>img,
.motorista-img>img {
    width: 100%;
    object-fit: contain;
}

.manutencao>span:last-child,
.alocacao>span:last-child {
    color: rgb(3, 72, 175);
    font-size: 12pt;
    font-weight: 700;
    position: absolute;
    right: 10px;
    bottom: 10px;
}

#disponivel {
    color: rgb(165, 0, 0);
    font-size: 12pt;
    font-weight: 700;
    position: absolute;
    right: 30px;
    bottom: 10px;
}

.disponivel {
    /* background-image: linear-gradient(to left bottom, #cce0fd, #b4d1fd, #9dc3fd, #86b4fc, #6da5fb); */
    background-color: #cdf3ff;
}

.indisponivel {
    /* background-image: linear-gradient(to left bottom, #fdcccc, #ffb5b5, #ff9e9d, #fe8685, #fb6d6d); */
    background-color: #ffd3d3;
}

::-webkit-scrollbar {
    width: 5px
}

::-webkit-scrollbar-track {
    background: #ffffff;
}

::-webkit-scrollbar-thumb {
    background: #db7500;
    border-radius: 10px
}

.bluer {
    filter: blur(5px);
}

.modal-atualizar-manutencao, .modal-cadastrar-manutencao, .modal-atualizar-alocacao, .modal-disponivel, .modal-cadastrar-veiculo, .modal-cadastrar-motorista, .modal-atualizar-motorista, .modal-cadastrar-alocacao {
    position: absolute;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-manutencao, .modal-alocacao, .modal-veiculo, .modal-motorista {
    height: 350px;
    width: 500px;
    background-color: #bcd7ee;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.info-manutencao, .info-cadastrar-manutencao, .info-cadastrar-alocacao, .info-alocacao, .info-veiculo, .info-cadastrar-veiculo, .info-cadastrar-motorista, .info-motorista {
    display: flex;
    flex-direction: column;
    padding: 10px 0px 0px 40px;
    align-items: flex-start;
    width: 100%;
    height: 60%;
    justify-content: space-between;
    font-size: 15pt;
    font-weight: bold;
    letter-spacing: 2px;
    padding-top: 30px;
}

.info-cadastrar-alocacao, .info-alocacao, .info-manutencao, .info-cadastrar-manutencao {
    font-size: 12pt!important;
}

.info-manutencao>span, .info-cadastrar-manutencao>span, .info-cadastrar-alocacao>span, .info-alocacao>span, .info-veiculo>span, .info-cadastrar-veiculo>span, .info-cadastrar-motorista>span, .info-motorista>span {
    position: relative;
    width: 85%;
}

.info-manutencao>span>input, .info-cadastrar-manutencao>span>input, .info-cadastrar-alocacao>span>input, .info-alocacao>span>input, .info-veiculo>span>input, .info-cadastrar-veiculo>span>input, .info-cadastrar-motorista>span>input, .info-motorista>span>input {
    background: none;
    border: none;
    border-bottom: 2px solid #000000;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 60%;
    height: 100%;
    padding: 0px 0px 0px 10px;
    outline: none;
}

.info-cadastrar-manutencao>span>textarea, .info-manutencao>span>textarea,.info-alocacao>span>textarea, .info-cadastrar-alocacao>span>textarea {
    background: none;
    border: none;
    border-bottom: 2px solid #000000;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 50%;
    height: 200%;
    padding: 0px 0px 0px 10px;
    outline: none;
    resize: none;
}

.info-cadastrar-manutencao>span>input, .info-manutencao>span>input, .info-cadastrar-manutencao>span>textarea, .info-alocacao>span>input, .info-cadastrar-alocacao>span>input {
    width: 50%;
}

#close-modal, #close-modal2, #close-modal3, #close-modal4, #close-modal5, #close-modal6, #close-modal7, #close-modal8 {
    position: absolute;
    right: 20px;
    font-size: 15pt;
    font-weight: bold;
    background: none;
    border: none;
    color: #000000;
}

#atualizar-btn, #atualizar-data-btn {
    width: 140px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 45px;
    text-align: center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

#atualizar-btn:hover, #atualizar-data-btn:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

#atualizar-btn:focus, #atualizar-data-btn:focus {
    outline: none;
}

#atualizar-btn.bn26 {
    background-image: linear-gradient(to right,
            #25aae1,
            #4481eb,
            #04befe,
            #3f86ed);
    box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
}

#AlertTipo {
    position: absolute;
    top: 10px;
    right: -50px;
    font-size: 10pt;
    color: #f00;
    font-weight: 500;
    width: 85%;
    overflow: hidden;
}

.add {
    background-color: #04befe;
    width: 0px;
    position: relative;
}

.add>span {
    font-size: 50pt;
    color: rgb(255, 255, 255);
    background-color: #25aae1;
    width: 80px;
    height: 80px;
    position: absolute;
    right: -110px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: .3s ease-in;
    cursor: pointer;
}

.add>span:hover {
    transform: scale(1.1);
}